body {
  font-family: verdana, arial, helvetica, sans-serif;
  margin: 0;
}

#header {
  background-color: #d0f2d6;
  border-bottom: 1px solid blue;
  position: static;
}

#list {
  float:left;
  list-style-type:none;
}
